
<h1>Matthew Beaulieu Dice Roller</h1>

<link rel='stylesheet' href='\css\DiceRoller.css'> 
<script src='\js\DiceRoller.js'></script>

<!--Instructions-->
<p>
    Click each individual die to roll it! If you get
    snake eyes, congrats! However, you win nothing.
</p>

<div> <!--buttons with JS events-->
    <span>
        <button type="button" id="butt" onclick="ButtClick()">Click Me!</button>
    </span>
    <span>
        <button type="button" id="button" onclick="ButtonClick()">Click Me!</button>
    </span>
</div>