<title>mb portfolio</title>
<h1>matthew's assignments</h1>
<div>
    <h4>Sprint 1:</h4>
    <ul>
        <li><a href="gtke">Getting-To-Know-Each-Other</a></li>
    </ul>
    <h4>Sprint 2:</h4>
    <ul>
        <li><a href="resume">Resume</a></li>
        <li><a href="dr">Dice Roller</a></li>
        <li><a href="regexp">RegExp Tester</a></li>
    </ul>
    <h4>Sprint 3:</h4>
    <ul>
        <li>no individual/original web based assignments this sprint</li>
    </ul>
</div>