<script src='/js/RegExp.js'></script>
<link rel="stylesheet" href="/css/RegExp.css">

<title>RegExp Tester</title>

<h1>RegExp Tester</h1>
        
RegExp to Test: <input id='regExp'type='text'value=''><br><br>

Text to Test: <input id='userInput'type='text'value=''><br><br>

<button type='button' onclick='TestInput()'>Test!</button><br><br>
<input type = 'text'id='showResults'
value='Results Here'>