<link rel='stylesheet' href='/css/Resume.css'>

<h1>Matthew Beaulieu</h1>
<h1>Lewis University Student</h1>

<div id="contacts">
    <h3>Contacts</h3>
    <p>Email: matthewbeaulieu10@gmail.com</p>
    <p>School Email: matthewtbeaulieu@lewisu.edu</p>
    <p>Phone: (847)-217-1058</p>
    <p>LinkedIn: <a href = "https://www.Linkedin.com/in/mthwbeaulieu">mthwbeaulieu</a></p>
</div>

<div id="overview">
    <h3>Overview</h3>
    <p> Currently a Lewis University Junior majoring in Software
        Engineering. Looking for any part time or internship
        opportunities within the computer science industry 
        (prefarably Software Development). A member of Lewis 
        University's Division II Men's Soccer Program as well as
        a leader of Lewis University's Student-Athlete Bible Study.
        Onsite Distribution Intern for Northern Illinois Food Bank
        in 2021 and was Varsity Captain of St. Charles North's 
        Men's Soccer Program.
    </p>
</div>

<div id="programming experience">
    <p> Operating Systems - Windows 10 (With Git/ Command Line
        Experience.
    </p>
    <p>Languages - Python, Java, C#, HTML, JavaScript</p>
    <p>Technologies Leveraged - Visual Studio (.NET Apps), Microsoft
        Azure, GitHub, Orange Canvas
    </p>
</div>

<div id="academic history">
    <h3>Academic History</h3>
    <p>St. Charles North High School (2015-2019) Coach Eric Willson
        (eric.willson@d303.org)
    </p>
    <ul>
        <li>Graduated with Magna Cumme Laude Honors</li>
    </ul>
    <p>Lewis University (2019-Present) Professor Dr. Raymond Klump
        (klumpra@lewisu.edu)
    </p>
    <ul>
        <li id="bold">Bachelor of Science in Computer Science/Software
            Engineering (expected May 2023)
        </li>
        <li>3.97 GPA</li>
    </ul>
</div>

<div id="work/volunteer experience">
    <h3>Work/Volunteer Experience</h3>
    <p>Equipment Maintenance Manager: Martin Implements (2014-Present)
        Sherri Smith ((847)337-9238)
    </p>
    <ul>
        <li>Maintain Rental Unit Machinery</li>
        <li>Snow Removal</li>
        <li>Weekly Office Maintenance</li>
    </ul>
    <p>Onsite Distribution Intern: Northern Illinois Food Bank (Summer 2021)
        Chris Gilette ((319)331-3069)
    </p>
    <ul>
        <li>Lead Mobile Pantry Distribution Sites Across State</li>
        <li>Assisted in food production/volunteer supervising</li>
        <li>Analyzed Mobile Pantry Program to Brainstorm Efficient Solutions
            to Pandemic/Client Needs.
        </li>
    </ul>
    <p>Weekend Distribution Team: St John's Food Pantry (2020-Present)
        Heather Hinthorn ((309)212-1112)
    </p>
    <ul>
        <li>Greeted Customers as they drove up</li>
        <li>Assist Team Lead in Inventory Management</li>
    </ul>
</div>
