body {background-color:maroon;text-align:left;color:white;margin-left:50px;}
h1 {text-align:left;}
h3 {text-decoration:underline;text-decoration-color:maroon;}
p {margin-right: 250px;}
a {color:white;}